# something not sync
# /static/
idea/.IntelliJIDEALicenseServer.html.swo
idea/.IntelliJIDEALicenseServer.html.swp
idea/out.log
jar/
.DS_Store

# blog nessary files  _config.yml，theme/，source/，scaffolds/，package.json，.gitignore，是需要拷贝的。
/blog/nohup.out
blog/source/_posts/hello-world.md
#!/blog/_config.yml
#!/blog/package.json
#!/bolg/scaffolds/*
#!/bolg/scaffolds/**/*
#!/bolg/source/*
#!/bolg/source/**/*
#!/bolg/themes/typography/*
#!/bolg/themes/typography/**/*

